#app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

#app .container {
  width: 376px;
  height: 95vh;
  overflow-y: scroll;
  z-index: 100;
  background-color: rgb(237, 237, 237);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 20px;
}
